version: 2.0.0-{build}
branches:
  only:
  - main
  - development
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2019
build_script:
- ps: .\build\build.ps1 $env:APPVEYOR_BUILD_VERSION $env:APPVEYOR_REPO_TAG_NAME
#before_test:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
artifacts:
- path: '.\artifacts\*.nupkg'
deploy:
- provider: NuGet
  api_key:
    secure: yc/gQNTv1/CbW+NYNpSF0SEOAAVVPr96aLb7kWWE764XGrDlG/ijBXyzQ+g6EnFN
  skip_symbols: false
  artifact: /.*(\.|\.s)nupkg/
  on:
      appveyor_repo_tag: true       # deploy on tag push only
